#this_map {
    height: 256px;
    width: 512px;
}


/*Below style is for the bottom right copyright link style*/

.ol-attribution a {
    color: black;
}

.scale-line {
    position: absolute;
    top: 350px;
}

.ol-scale-line {
    position: relative;
    bottom: 0px;
    left: 0px;
}
